{layout name="layout"}
<!-- banner部分 -->
<div class="banner result">
	<div class="layui-container">
		<div class="title">
	    <!-- <p>查询结果</p> -->
	    <p class="en">Search Results</p>
	  </div>
	</div>
  <div class="layui-container">
  	<div class="query">
  		<div class="query-content">
				<div class="queryTable layui-form">
        	<div class="layui-form-item">
				  	<div class="layui-inline layui-col-xs4 layui-col-sm4 layui-col-md4">
				    	<label class="layui-form-label">Country</label>
					  	<div class="layui-input-block">
					  	  <select name="country" id="country" lay-search>
                  <option value=""></option>
                  {foreach $country as $item}
                    <option value="{$item['country']}">{$item['country']}</option>
                  {/foreach}
					  	  </select>
					  	</div>
				    </div>
				  	<div class="layui-inline layui-col-xs4 layui-col-sm4 layui-col-md4">
				    	<label class="layui-form-label">Supplier Name</label>
				    	<div class="layui-input-block"> 
				    		<input type="text" name="supplierName" id="supplierName" class="layui-input" placeholder="Supplier Name">
				    	</div>
				    </div>
				    <div class="layui-inline layui-col-xs4 layui-col-sm4 layui-col-md4">
				    	<label class="layui-form-label">Product Name</label>
				    	<div class="layui-input-block">
				    		<input type="text" name="productName" id="productName" class="layui-input" placeholder="Product Name">
				    	</div>
				    </div>
				  </div>
				  <div class="layui-form-item">
				  	<div class="layui-inline layui-col-xs4 layui-col-sm4 layui-col-md4">	
				  		<label class="layui-form-label">Product Type</label>
					    <div class="layui-input-block">
					      <select name="productType" id="productType" lay-search>
					        <option value=""></option>
					        {foreach $productType as $item}
                    <option value="{$item['productType']}">{$item['productType']}</option>
                  {/foreach}
					      </select>
					    </div>
				  	</div>
				    <div class="layui-inline layui-col-xs4 layui-col-sm4 layui-col-md4">	
				    	<label class="layui-form-label">Style No.</label>
				    	<div class="layui-input-block">
				    	  <input type="text" name="productStyle" id="productStyle" class="layui-input" placeholder="Style No.">
				    	</div>
				   	</div>
				   	<div class="layui-inline layui-col-xs4 layui-col-sm4 layui-col-md4">	
				    	<label class="layui-form-label">Verification No.</label>
              <div class="layui-input-block">
                <input type="text" name="verifyNo" id="verifyNo" class="layui-input" placeholder="Example: RCVSXM20190001">
              </div>
				   	</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline layui-col-xs4 layui-col-sm4 layui-col-md4 query-btn">	
							<button data-type="reload" class="layui-btn" >Search</button>
				   	</div>
					</div>
				</div>
    	</div>
  	</div>
  </div>
  <div class="layui-container">
		<div class="layui-form">
		  <div class="layui-form-item">
		    <a href="../index/index" class="layui-btn query-btn">Search</a>
		  </div>
		</div>
	</div>
</div>

<!-- result部分 -->
<div class="main-result">
	<div class="layui-container">
		<div class="result-text">
		</div>
		<table class="layui-hide" id="productData" lay-filter="productData"></table>
	</div>

</div>

<script>
	layui.use('jquery', function() {
		let $ = layui.jquery;
		$('#country').val('{$originParam.country}');
		$('#productType').val('{$originParam.productType}');
		$('#productStyle').val('{$originParam.productStyle}');
		$('#supplierName').val('{$originParam.supplierName}');
		$('#productName').val('{$originParam.productName}');
		$('#verifyNo').val('{$originParam.verifyNo}');
	});
</script>

<script>
layui.use('table', function(){
  let table = layui.table;

  table.render({
    elem: '#productData'
		,url:'getQueryData'
    ,cellMinWidth: 125
    ,cols: [[
      /*{field:'productID', title: 'productID', sort: true}
      ,{field:'supplierID', title: 'supplierID', sort: true}
      ,{field:'refproductid', title: 'refproductid', sort: true}
      ,*/{field:'supplierName', title: 'Supplier Name', align: 'center'} 
      ,{field:'country', title: 'Country', sort: true, align: 'center'}
      ,{field:'address', title: 'Address', align: 'center'}
      ,{field:'productName', title: 'Product Name', align: 'center', align: 'center'} 
      ,{field:'productType', title: 'Product Tpye', align: 'center'}
      ,{field:'verifiedContentClaim', title: 'Verified Recycled Content Claim', event: 'setSign', width: 300, sort: true, align: 'center', style:'cursor: pointer; text-decoration: underline;'}
	  ]]
    ,id: 'testReload'
    ,page: true
  });

  let $ = layui.$, active = {
	  reload: function(){
		  let country = $('#country');
		  let supplierName = $('#supplierName');
		  let productName = $('#productName');
		  let productType = $('#productType');
		  let productStyle = $('#productStyle');
		  let verifyNo = $('#verifyNo');
	    //执行重载
	    table.reload('testReload', {
	      where: {
	        country: country.val()	     
	        ,supplierName: supplierName.val()
	        ,productName: productName.val()	     	        	
	        ,productType: productType.val()	     	        	
	        ,productStyle: productStyle.val()	     	        	
	        ,verifyNo: verifyNo.val()	     	        	
	      }
	    });
	  }
	};
    
	$('.queryTable .layui-btn').on('click', function(){
	  let type = $(this).data('type');
	  active[type] ? active[type].call(this) : '';
	});
  
  table.on('tool(productData)', function(obj){
  	let data = obj.data;
    if(obj.event === 'setSign'){
    	window.open( '../../index/detail/detail.html?productID=' + data.productID);
    }
  });
});
</script>
