<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <title>Recycled Content Verification Products Traceability Platform</title>
  <link rel="stylesheet" href="__STATIC__/../layui/css/layui.css">
  <link rel="stylesheet" href="__STATIC__/css/main.css">
  <script src="__STATIC__/../layui/layui.js"></script>
</head>
<body>  
  <!-- nav部分 -->
  <div class="header">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="header-logo">
        <a href="../index/index">
          <h1 class="long-logo">RCV Products Traceability Platform</h1>
          <h1 class="short-logo">RCV</h1>
        </a>
      </div>
<!--       <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav">
          <li class="layui-nav-item"><a href="https://www.tuv-sud.cn/">TÜV 南德</a></li>
        </ul>
      </div> -->
      <div class="nav-tuv">
        <a href="https://www.tuv-sud.cn/">
          <img src="__STATIC__/img/com_logo.jpg"> TÜV SÜD
        </a>
      </div>
    </div>
  </div>

  {__CONTENT__}
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-nav">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="javascript:;">版本说明</a>
          <a href="javascript:;">隐私声明</a>
          <a href="javascript:;">条款及条件</a>
          <a href="javascript:;">网站地图</a>
          <a href="javascript:;">苏ICP备17017024号</a>
          <a href="javascript:;">苏公网安备</a>
          <a href="javascript:;">32020502000555号打印</a>
        </span>
      </p>
     </div>
    </div>
  </div>

<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
<script>
layui.use('form', function(){
  var form = layui.form;
  });
</script>
</html>