<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>二维码</title>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="__STATIC__/layui/layui.js"></script>
</head>
<body>
<!--<div style="padding: 20px; background-color: #F2F2F2;">-->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md2">
            <div class="layui-card">
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
            </div>
        </div>
        <div class="layui-col-md2 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">{$productName}</div>
                <div class="layui-card-body">
                    <img src="{$ad}">
                </div>
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
            </div>
        </div>
        <div class="layui-col-md2">
            <div class="layui-card">
            </div>
        </div>
    </div>
<!--</div>-->


</body>
</html>