{layout name="layout"}
  <!-- title -->
  <div class="content">
    <div class="title">
      <!-- <p>产品信息</p> -->
      <p class="en">Product Details</p>
    </div>
    <div class="detail">
      <div class="layui-container">
          <div class="detail-content">
              <div class="layui-col-sm5 layui-col-lg5 product-img-info"> 
                <div>
                   <div class="product-img"> 
                   </div>
                </div>
                <p>
                  Product`s Picture
                </p>
              </div>
              <div class="layui-col-sm7 layui-col-lg7">
                <table class="layui-table" lay-skin="line">
                  <colgroup>
                    <col width=50%>
                    <col width=50%>
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>Supplier Name</td>
                      <td id="layui-layer-tips">{$data.supplierName}</td>
                    </tr>
                    <tr>
                      <td>Product Name</td>
                      <td>{$data.productName}</td>
                    </tr>
                    <tr>
                      <td>Product Style No.</td>
                      <td>{$data.productStyleNo}</td>
                    </tr>
                    <tr>
                      <td class="trow">Verified Recycled Content Claim</td>
                      <td>{$data.verifiedContentClaim}</td>
                    </tr>                 
                    <tr>
                      <td>Verified Product Amount</td>
                      <td>{$data.verifiedProductAmount}</td>
                    </tr>                 
                    <tr>
                      <td>Verification Statement No.</td>
                      <td>{$data.verificationStatementNo}</td>
                    </tr>
                  </tbody>
                </table>
                <div id="tips-table" style="display: none;">
                  <table>
                  <colgroup>
                    <col width=25%>
                    <col width=75%>
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>Company:</td>
                      <td>{$data.supplierName}</td>
                    </tr>
                    <tr>
                      <td>Address:</td>
                      <td>{$data.address}</td>
                    </tr>
                    <tr>
                      <td>Contact:</td>
                      <td>Mr. Zhang</td>
                    </tr>
                    <tr>
                      <td>Phone:</td>
                      <td>188888888888</td>
                    </tr>
                    <tr>
                      <td>E-mail:</td>
                      <td>Xxxx@tuv-sud.cn</td>
                    </tr>
                  </tbody>
                  </table>
                </div>
                
                <p class="product-track-info">
                  Product`s Tracking Information
                </p>
              </div>
            </div>
      </div>
    </div>
    <div class="title verify">
      <!-- <p>供应商验证链</p> -->
      <p class="en">Verified Recycled Content Claim</p>
    </div>
    <div class="claim">
      <div class="layui-container">
        <ul class="timeline" id="timeline">
        		<li>
              <div class="cour-img"><img src="__STATIC__/img/gold_metal.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset7 layui-col-lg5 layui-col-lg-offset6">
                <p class="label">Whole Supply Chain Verified</p>
              </div>

            </li>   
        </ul>
      </div>
    </div>
  </div>

<!-- tips -->
<script type="text/javascript">
  layui.use('jquery', function() {
    let tipsi;
    let $ = layui.jquery;
    let msg = $('#tips-table').html();
    $("#layui-layer-tips").hover(function(){
       tipsi = layer.tips(msg,this,{
        area:['300px']
        ,tips:[1, '#2E6FCC']
        ,time:0
      });
    }, function(){
      layer.close(tipsi);
    });
  });
</script>

<script id="templ" type="text/html">

  {{# layui.each(d.data, function(index, floor){ }}
  	{{# layui.each(floor, function(itemIndex, item){ }}
  		{{# if(item.mainLine == 'Y') { }}
			<li>
        <div class="cour-img"><img src="/public/static/img/us_img5.png"></div>
        {{# if(item.productID == d.keyID){ }}
        <div class="flag">
          <p>You Query It
            <i class="layui-icon layui-icon-right"></i> 
            <i class="layui-icon layui-icon-right"></i> 
            <i class="layui-icon layui-icon-right"></i> 
          </p>          
        </div>
        {{# }; }}
        <div class="cour-panel layui-col-sm4 layui-col-sm-offset7 layui-col-lg5 layui-col-lg-offset6">
        	<p class="label"> Verified:
        		<i class="layui-icon 
							{{# if(item.verifyStatus == 'Y') { }}
	        				layui-icon-ok
	        		{{# } else { }}
	        				layui-icon-close
	        		{{# }; }}
        		"></i>
        	</p>
          <p>Product Name: {{ item.productName }} / Supplier: {{ item.supplierName }}</p>

          {{# if(floor.length > 1) { }}
          <div class="extend">
          	<button type="button" class="layui-btn extend-btn">
        			<i class="layui-icon layui-icon-addition"></i>
        		</button>
        		<div class="button-detail" data-floor="{{ index }}" style="visibility: hidden;">
        			{{# for(let i = 0; i < floor.length; i++) { }}
        				{{# if(i != itemIndex) { }}
        					<p class="extend-supplier" data-id="{{ floor[i].productID }}"><span>Product Name: {{ floor[i].productName }} </span> / Supplier: {{ floor[i].supplierName }}</p>
        				{{# }; }}
        			{{# }; }}
        		</div>
          </div>
          {{# }; }}

        </div>
      </li>
  		{{# }; }}
  	{{#  }); }}
  {{#  }); }}
</script>

<script type="text/javascript">
  layui.use(['jquery','laytpl'], function() {
    let $ = layui.jquery;
    let laytpl = layui.laytpl;

    $.get('getTreeData', { productID: {$_GET['productID']}}
    , function (res) {

        let getTempl = templ.innerHTML;
        let timeline = $('#timeline');

        laytpl(getTempl).render(res, function(html){
          timeline.prepend(html);
        });

		    timeline.on('click','.extend-btn', function(){
		    	if(this.parentElement.lastElementChild.style.visibility == 'visible') {
		    		this.children[0].classList.remove('layui-icon-subtraction');
		    		this.children[0].classList.add('layui-icon-addition');
		    		this.parentElement.lastElementChild.style.visibility ='hidden';
		    	} else {
		    		this.children[0].classList.add('layui-icon-subtraction');
		    		this.children[0].classList.remove('layui-icon-addition');
		    		this.parentElement.lastElementChild.style.visibility ='visible';
		    	}
		    })

        timeline.on('click','.extend-supplier', function(){
          let productID = this.dataset.id;
          window.open( '../../index/detail/detail.html?productID=' + productID);
        })
    });

  });
</script>




